<h1> This is a terrible authors index page. One of the worst ever. </h1>

<nav style="background-color: #9AEEE8">
  <%= link_to "Stats", stats_index_path %>
</nav>

<%= will_paginate @authors %>
<% cache(cache_key_for_authors) do %>
<div class="author">
  <% @authors.each do |author| %>
    <h2>My name is <%= author.name %></h2>
      <% author.articles.each do |article| %>
       <% cache article do %>
      <p>I wrote: <span style="text-decoration: underline"><%= link_to article.name, articles_show_path(article) %> </span></p>
      <% end %>
    <% end %>
  <% end %>
</div>
<% end %>