<h1> This is a terrible authors index page. One of the worst ever. </h1>

<nav style="background-color: #9AEEE8">
  <%= link_to "Stats", stats_index_path %>
</nav>

<%= will_paginate @authors %>
<div class="author">
    <% @authors.each do |author| %>
      <% cache(author) do %>
        <h2>My name is <%= author.name %></h2>
        <% author.articles.each do |article| %>
          <p>I wrote: <span style="text-decoration: underline"><%= link_to article.name, articles_show_path(article) %> </span>
          </p>
    <% end %>
  <% end %>
<% end %>
</div>